@import "src/variable.scss";

.navbar {
  background-color: $primaryColor;

  a {
    color: white;
  }
}

.footer {
  background-color: $primaryColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
